<!DOCTYPE html>
<html>
<head>
    <title>Upload File</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    {% load static %}
    <link href="{% static 'styles.css' %}" rel="stylesheet">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
</head>
<body>
<div class="container mt-5">
    <h1 class="text-center">Upload a CSV or Excel file</h1>
    <div class="row justify-content-center mt-4">
        <div class="col-md-6">
            {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endif %}
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.file.label_tag }}:
                    {{ form.file }}
                </div>
                <button type="submit" class="btn btn-primary btn-block"><b>Upload</b></button>
            </form>
        </div>
    </div>
</div>
</body>
</html>

